[submodule "rule_prediction"]
	path = rule_prediction
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_rule_prediction.git
[submodule "images"]
	path = images
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_images.git
[submodule "saliency_maps"]
	path = saliency_maps
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_saliency_maps.git
[submodule "image_features_tool"]
	path = image_features_tool
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_image_features_tool.git
[submodule "dnn_features"]
	path = dnn_features
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_dnn_features.git
[submodule "depth_segmentation_maps"]
	path = depth_segmentation_maps
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_depth_segmentation_maps.git
[submodule "appeal_prediction_models"]
	path = appeal_prediction_models
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_appeal_prediction_models.git
[submodule "appeal_prediction_dnn_transferlearning"]
	path = appeal_prediction_dnn_transferlearning
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_appeal_prediction_dnn_transferlearning.git
[submodule "sophoappeal_evaluation_image_appeal_test_1"]
	path = sophoappeal_evaluation_image_appeal_test_1
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_evaluation_image_appeal_test_1.git
[submodule "evaluation_image_appeal_test_1"]
	path = evaluation_image_appeal_test_1
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_evaluation_image_appeal_test_1.git
[submodule "evaluation_image_appeal_test_2"]
	path = evaluation_image_appeal_test_2
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_evaluation_image_appeal_test_2.git
[submodule "aesthetics_srv"]
	path = aesthetics_srv
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_aesthetics_srv.git
[submodule "AVrateVoyager"]
	path = additional/AVrateVoyager
	url = git@github.com:Telecommunication-Telemedia-Assessment/AVrateVoyager.git
[submodule "rule_prediction_extension"]
	path = rule_prediction_extension
	url = git@github.com:Telecommunication-Telemedia-Assessment/sophoappeal_rule_prediction_extension.git
[submodule "additional/avt_ai_images"]
	path = additional/avt_ai_images
	url = git@github.com:Telecommunication-Telemedia-Assessment/avt_ai_images.git
